# testdebrpm
My test deb/rpm repo

To add this repo to your deb/rpm system just run `curl {{(ds "config").url}}/setup.sh | bash`

## Structure
- [KEY.gpg]({{(ds "config").url}}/KEY.gpg) - author's key
- [deb]({{(ds "config").url}}/deb) - deb repo
- [rpm]({{(ds "config").url}}/rpm) - rpm repo

